.logcad-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.icon-container img {
  display: block;
  margin: 0 auto 1rem;
  width: 80px;
}

.logcad-header {
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #4A7C59; /* Verde escuro */
}

.logcad-input {
  border-radius: 10px;
  padding: 0.8rem;
  font-size: 1rem;
}

.logcad-input:focus {
  outline: none;
  border-color: #88BDBC; /* Verde suave */
  box-shadow: 0 0 4px rgba(136, 189, 188, 0.4);
}

.btn-gradient {
  background: linear-gradient(135deg, #4A7C59, #375A4C);
  color: #ffffff;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn-gradient:hover {
  background: linear-gradient(135deg, #375A4C, #2C4739);
  cursor: pointer;
  color: #ffffff;
}


.forgot-password,
.create-account {
  color: #4A7C59; /* Verde escuro */
  font-weight: 600;
}

.forgot-password:hover,
.create-account:hover {
  text-decoration: underline;
}

.txt_cadlog {
  font-weight: bold;
  color: #4A7C59;
}
