body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #B2DBD3, #4A7C59);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-gradient {
  background: linear-gradient(135deg, #4A7C59, #375A4C);
  color: #ffffff;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn-gradient:hover {
  background: linear-gradient(135deg, #375A4C, #2C4739);
  cursor: pointer;
  color: #ffffff;
}
